<% provide(:page_title, 'Carro de Compras') %>
<% provide(:cart_active, 'active') %>
<% provide(:page_description, 'Carro de Compras.- Ofimaster') %>
<% if notice %>
<div class="alert alert-success fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  <strong><%= notice %></strong>
</div>
<% end %>
<button type="button" class="btn btn-primary w-100 mb-2 hidden-md-up" data-toggle="offcanvas">Categorías</button>
<div class="row justify-content-md-center row-offcanvas row-offcanvas-left">
  <div class="col-8 col-sm-6 col-md-3 col-lg-2 sidebar-offcanvas">
    <%= render 'layouts/nav-sidebar' %>
  </div>
  <div class="col col-md-9">
    <h1>Carro de Compras</h1>
    <% if cart.empty? %>
    <p>Su carro está vacío.</p>
    <% else %>
    <table class="table table-hover table-sm table-responsive">
      <thead>
        <tr>
          <th>Código</th>
          <th>Descripción</th>
          <th>Marca</th>
          <th>Cantidad</th>
          <th>Precio U.</th>
          <th>Precio Total</th>
        </tr>
      </thead>
      <tbody>
        <% total = 0 %>
        <% @cart.each do |id, quantity| %>
        <% @products.each do |product| %>
        <% if product.productid == id.to_i %>
        <tr>
          <td>
            <%= link_to product do %>
            <%= product.code %>
            <% end %>
          </td>
          <td>
            <%= link_to product do %>
            <%= product.description %>
            <% end %>
          </td>
          <td><%= product.notes %></td>
          <td><%= quantity %></td>
          <td class="text-right">
            <span class="float-left">$</span>
            <%= number_to_currency(product.unitprice.to_i, unit:"", separator: ",", delimiter: ".", precision: 0) %>
          </td>
          <td class="text-right">
            <span class="float-left">$</span>
            <%= number_to_currency((quantity * product.unitprice).to_i, unit:"", separator: ",", delimiter: ".", precision: 0) %>
          </td>
        </tr>
        <% total += (quantity.to_i * product.unitprice.to_i) %>
        <% end %>
        <% end %>
        <% end %>
        <tr class="font-weight-bold lead">
          <td colspan="5" class="text-right">Total:</td>
          <td class="text-right">
            <span class="float-left">$</span>
            <%= number_to_currency(total, unit:"", separator: ",", delimiter: ".", precision: 0) %>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
    <% unless @cart.empty? %>
   
      <%= form_tag(orders_create_path, method: :get) do %>
        <%= button_tag 'Hacer Pedido', :class => 'btn btn-warning' %>
        <%= link_to "Vaciar Carro", cart_clear_path, :class => 'btn btn-outline-primary' %>
      <% end %>
    <%#= link_to "Send", orders_create_path, :class => 'btn btn-outline-warning' %>
    <% end %>
  </div>
</div>