<%= form_for(slide) do |f| %>
  <% if slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :link %>
    <%= f.url_field :link, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label "Imagen" %>
    <%= f.file_field :image, :class => "form-control", :required => true %>
  </div>

    <%#= f.label :title %>
    <%#= f.text_field :title %>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>