<div class="container">
  <h1>Editar Slide</h1>
  <div class="row">
    <div class="col-12 col-sm-4 mb-3">
      <%= render 'form', slide: @slide %>
    </div>
    <div class="col-12 col-sm-8">
      <%= image_tag @slide.image.url, :class => "img-fluid" %>
    </div>
  </div>
  <%= link_to 'Atrás', slides_path %>
</div>
