<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Slides</h1>

  <%= link_to 'Agregar Slide', new_slide_path, :class => "btn btn-primary" %>

  <% @slides.each do |slide| %>
    <div class="row my-2">
      <div class="col-10">
        <%= link_to slide.link do %>
          <%= image_tag slide.image.url, :class => "img-fluid" %>
        <% end %>
      </div>
      <div class="col-2">
        <%= link_to '', edit_slide_path(slide), :class => "fa fa-pencil btn btn-warning" %>
        <%= link_to '', slide, :class => "fa fa-trash-o btn btn-danger", method: :delete, data: { confirm: 'Estás seguro que quieres eliminar este slide?' } %>
      </div>
    </div>
  <% end %>
  
</div>