<div class="container">
  <h1>Agregar Slide</h1>
  <div class="row mt-3">
    <div class="col-12 col-sm-4">
      <%= render 'form', slide: @slide %>
    </div>
    <div class="col-12 col-sm-8">
      
    </div>
  </div>
  <%= link_to 'Atrás', slides_path %>
</div>
