<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @slide.link %>
</p>

<p>
  <strong>Image:</strong>
  <%= @slide.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @slide.title %>
</p>

<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
