<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => 'form-control form-control-sm' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control form-control-sm' %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control form-control-sm' %>
  </div>

    <%= f.hidden_field :customerid, :class => 'form-control form-control-sm' %>

  <div class="actions text-center">
    <%= f.submit "Registrar", :class => 'btn btn-secondary' %>
  </div>
<% end %>