<% provide(:page_title, 'Editar Cuenta') %>
<% provide(:edit_user_active, 'active') %>
<% provide(:page_description, 'Modifica los datos de tu cuenta en Ofimaster') %>

<% if notice %>
  <div class="alert alert-success fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= notice %></strong>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= alert %></strong>
  </div>
<% end %>

<div class="row justify-content-center">
  <div class="col-xs-12 col-md-4">
    <div class="form-highlight">
      <h2>Editar Usuario</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Esperando confirmación de: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field form-group">
          <%= f.label :password, 'Contraseña' %> <i>(Dejar en blanco si no se quiere cambiar)</i><br />
          <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> carácteres mínimo</em>
          <% end %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation, 'Confirmar Contraseña' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
        </div>

          <%#= f.label :customerid, 'Customer ID' %><br />
          <%#= f.number_field :customerid, :class => 'form-control' %>

        <div class="field form-group">
          <%= f.label :current_password, 'Contraseña Actual' %> <i>(Ingresa tu contraeña actual para confirmar los cambios.)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %>
        </div>

        <div class="actions text-center">
          <%= f.submit "Actualizar", :class => 'btn btn-secondary' %>
        </div>
      <% end %>

      <hr class="line">

      <h3 class="text-center mt-3">Eliminar Cuenta</h3>

      <div class="text-center">
        <%= button_to "Eliminar Cuenta", registration_path(resource_name), data: { confirm: "Estás seguro?" }, method: :delete, :class => 'btn btn-secondary' %>
      </div>

      <%= link_to "Volver", :back %>
    </div>
  </div>
</div>
