<% provide(:page_title, 'Registro') %>
<% provide(:new_user_active, 'active') %>
<% provide(:page_description, 'Registrate en el mejor portal de productos para tu empresa.- Ofimaster') %>

<% if notice %>
  <div class="alert alert-success fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= notice %></strong>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= alert %></strong>
  </div>
<% end %>

<div class="mx-auto verificar">
  <p class="lead text-center"><strong>Ingresa el RUT de tu empresa</strong></p>
  <%= render "pages/verificar" %>
</div>

<div id="verificar-form-old" class="row justify-content-center" hidden>
  <div class="col-12 col-md-4">
    <div class="form-highlight">
      <h2 class="text-center">Datos de cuenta</h2>
      <%= render "devise/registrations/form" %>

      

    </div>
  </div>
</div>

<div id="verificar-form-new" class="row justify-content-center" hidden>
  <div class="col-12 col-md-4">
    <div class="form-highlight">
      <h2 class="text-center">Ingresa los datos de tu empresa</h2>

    </div>
  </div>
</div>
