<div class="box-shadow bg-grey px-2">
	<p class="pt-3 mb-0 font-weight-bold">Gran Catágolo</p>
	<p class="lead mb-0 font-weight-bold">MÁS DE 4500 PRODUCTOS</p>
	<small>Poseemos una gran variedad de productos, catalogados en diferentes categorías. Higiene · Computación · Oficina · Cafetería · Equipos​</small>

	<hr>

	<p class="mb-0 font-weight-bold">Trabajamos con los Mejores</p>
	<p class="lead mb-0 font-weight-bold">LIDER EN EL SUR DEL PAÍS</p>
	<small>Ofimaster es una empresa que gusta siempre de recibir nuevos Proveedores y trabajar solo con los mejores. ¡Gracias por preferirnos!​</small>

	<hr>

	<p class="mb-0 font-weight-bold">Experiencia y Calidad</p>
	<p class="lead mb-0 font-weight-bold">DISTRUIBUIDOR AUTORIZADO</p>
	<small>Nos enorgullecemos de contar con el equipo de trabajo y la infraestructura ​ideal para trabajar de la forma más eficiente.</small>

	<hr>

	<p class="mb-0 font-weight-bold">Respaldo y Confianza</p>
	<p class="lead mb-0 font-weight-bold">CERTIFICADOS CON ISO 9001:2008</p>
	<small>Contamos con Certificación ISO 9001:2008, lo que garantiza seriedad y eficacia en la venta, pero también una post venta responsable.</small>

</div>