<% provide(:page_title, 'Pedido') %>
<% if notice %>
<div class="alert alert-success fade show" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>
	<strong><%= notice %></strong>
</div>
<% end %>
<div class="row justify-content-around">
	<div class="col-12 col-sm-3 hidden-md-down">
		<%= render "orders/sidebar" %>
	</div>
	<div class="col-12 col-sm">
		<h1 class="float-right">Detalle del Pedido</h1>
		<%= form_tag orders_path, :class => '', :method => 'get' do %>
		<div class="input-group orders-search mb-3">
			<%= search_field_tag :pedido, params[:pedido], :class => 'form-control form-control-lg', :placeholder => 'Buscar Pedido N°...' %>
			<span class="input-group-btn">
				<button class="btn btn-primary" type="submit">
					<span class="fa fa-search"></span>
				</button>
			</span>
		</div>
		<% end %>
		<div class="card mb-3">
			<div class="card-header">
				<p class="lead mb-0">
					Pedido <span class="badge badge-primary">N°<%= @order.id %></span>
					<small class="float-right text-muted ">
					<%= @order.created_at.strftime('%d %B %Y') %>
					</small>
				</p>
			</div>
			<div class="card-block">
				<table class="table table-responsive">
					<thead>
						<tr>
							<th>Código</th>
							<th>Producto</th>
							<th>Cantidad</th>
							<th>Precio U.</th>
							<th>Precio Total</th>
						</tr>
					</thead>
					<tbody>
						<% total = 0 %>
						<% @order.items.to_a.each do |id, quantity| %>
							<% @products.each do |product| %>
								<% if product.productid == id.to_i %>
									<tr>
										<td><%= product.code %></td>
										<td><%= product.description %></td>
										<td><%= quantity %></td>
										<td class="text-right">
											<span class="float-left">$</span>
											<%= number_to_currency(product.unitprice.to_i, unit:"$", separator: ",", delimiter: ".", precision: 0) %>
										</td>
										<td class="text-right">
											<span class="float-left">$</span>
											<%= number_to_currency((quantity.to_i * product.unitprice.to_i), unit:"", separator: ",", delimiter: ".", precision: 0) %>
										</td>
									</tr>
									<% total += (quantity.to_i * product.unitprice.to_i) %>								
								<% end %>
							<% end %>
						<% end %>
						<tr class="font-weight-bold lead">
							<td colspan="4" class="text-right">Total:</td>
							<td class="text-right">
								<span class="float-left">$</span>
								<%= number_to_currency(total, unit:"", separator: ",", delimiter: ".", precision: 0) %>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>