<%= form_tag("/verificar", method: 'get', :remote => true, :class => "form-inline") do %>
  <%= text_field_tag "rutempresa", nil, :class => "form-control", :required => true %>
  <%= button_tag "Verificar Rut", :class => "btn btn-primary" %>
<% end %>

<div id="resultado"></div>
