<% provide(:page_title, 'Cuenta') %>
<% provide(:cuenta_active, 'active') %>
<% provide(:page_description, 'Bienvenido a Ofimaster, multitud de productos y marcas a tu disposición.') %>

<%#= link_to "current_user_show", current_user %>
<!--  <h1>Cuenta</h1>-->

<p class="display-4 text-primary">
  <strong>
    <%= @customer["name"] %>
  </strong>
</p>

<div class="row">
  <div class="col m-1">
    <p class="text-primary lead">Crédito Aprobado</p>
    <p class="bg-primary py-2 display-4 text-center text-white">
      <%= number_to_currency(@credit["creditLimit"].to_i, unit: "$", separator: ",", delimiter: ".", precision: 0, locale: :en) %>
    </p>
  </div>
  <div class="col m-1">
    <p class="text-primary lead">Crédito Disponible</p>
    <p class="bg-primary py-2 display-4 text-center text-white">
      <%= number_to_currency(@credit["creditLimitUsed"].to_i, unit: "$", separator: ",", delimiter: ".", precision: 0, locale: :en) %>
    </p>
  </div>
  <div class="col m-1">
    <p class="text-primary lead">Deuda a Hoy</p>
    <p class="bg-primary py-2 display-4 text-center text-white">
      <% disponible = @credit["creditLimit"].to_i - @credit["creditLimitUsed"].to_i %>
      <%= number_to_currency(disponible, unit: "$", separator: ",", delimiter: ".", precision: 0, locale: :en) %>
    </p>
  </div>
</div>
<p class="lead">
  <strong>
  Vendedor: <span class="text-primary"><%= @customer['salesmenName'] %></span>
  </strong>
</p>
<p class="lead">
  <strong>
  Forma de Pago: <span class="text-primary"><%= @customer['termName'] %></span>
  </strong>
</p>

<!--
  <%# if current_user %>
    <p>
      <strong>Email: </strong>
      <%#= current_user.email %>
    </p>
    <p>
      <strong>Rol: </strong>
      <%#= current_user.rol %>
    </p>
    <p>
      <strong>Customer ID: </strong>
      <%#= current_user.customerid %>
    </p>
  <%# end %>
-->

  <%#= link_to 'New Product', new_product_path, :class => "btn btn-success" %>
  <%#= link_to 'Crear Cuenta', new_user_registration_path, :class => 'btn btn-outline-primary' %>
  <%= link_to 'Editar Cuenta', edit_user_registration_path, :class => 'btn btn-outline-primary' %>
