<% provide(:page_title, 'Inicio') %>
<% provide(:root_active, 'active') %>
<% provide(:page_description, 'Bienvenido a Ofimaster, multitud de productos y marcas a tu disposición.') %>
<% if notice %>
<div class="alert alert-success fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  <strong><%= notice %></strong>
</div>
<% end %>
<% if alert %>
<div class="alert alert-warning fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  <strong><%= alert %></strong>
</div>
<% end %>
<button type="button" class="btn btn-primary w-100 mb-2 hidden-md-up" data-toggle="offcanvas">Categorías</button>
<div class="row justify-content-md-center row-offcanvas row-offcanvas-left">
  <div class="col-8 col-sm-6 col-md-3 col-lg-2 sidebar-offcanvas">
    <%= render 'layouts/nav-sidebar' %>
  </div>
  <div class="col col-md-9">
    <div class="row">
      <div class="col-12 mb-3">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @slides.each_with_index do |slide, index| %>
            <% if index == 0 %>
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <% else %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>"></li>
            <% end %>
            <% end %>
          </ol>
          <div class="carousel-inner" role="listbox">
            <% @slides.each_with_index do |slide, index| %>
            <% if index == 0 %>
            <div class="carousel-item active">
              <% else %>
              <div class="carousel-item">
                <% end %>
                <%= image_tag slide.image.url, :class => "d-block img-fluid" %>
              </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Siguiente</span>
            </a>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-md-6 mb-3">
              <div class="card text-center card-outline-primary text-primary">
                <div class="card-block">
                  <h4 class="card-title">Nuestra Misión</h4>
                  <p class="card-text">Sencillo. Trabajamos arduamente para que a nadie le falten sus insumos básicos para realizar sus tareas diarias cómodamente, ya sea en su Hogar o en su Puesto de Trabajo.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <div class="card text-center card-outline-primary text-primary">
                <div class="card-block">
                  <h4 class="card-title">Nuestra Visión</h4>
                  <p class="card-text">Vivir atentos al escenario global para poder anticiparnos a los cambios y así lograr entender a nuestros clientes según sus necesidades, en forma local.</p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card text-center card-primary text-white">
                <div class="card-block">
                  <h4 class="card-title">Filosofía</h4>
                  <p class="card-text">Seremos reconocidos como una empresa de referencia nacional por nuestra capacidad de suministrar productos a nivel industrial e institucional y por el ejemplar comportamiento con nuestros clientes internos y externos, como también con nuestra competencia.</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>