  <% if @customerid.class == Hash %>

    <% if @customerid['errorNumber'] == 1103 %>
      $("#resultado").empty();

      $("#verificar-form-new").hide().removeAttr("hidden").fadeIn( 600 );

    <% elsif @customerid['errorNumber'] == 1312 %>
      $("#resultado").empty();
      
      $("#verificar-form-old").attr("hidden", "true");
      $("#verificar-form-new").attr("hidden", "true");

      $("#resultado").append(
        "<p class='verificar-error'>Rut Incorrecto</p>"
      );

    <% end %>

  <% else %>
      $("#resultado").empty();

      $("#user_customerid").val("<%= @customerid.last['customerId'] %>");

      $("#verificar-form-old").hide().removeAttr("hidden").fadeIn( 600 );

  <% end %>