<% provide(:page_title, 'Ingresar') %>
<% provide(:new_session_active, 'active') %>
<% provide(:page_description, 'Registrate en el mejor portal de productos para tu empresa.- Ofimaster') %>

<% if notice %>
  <div class="alert alert-success fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= notice %></strong>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= alert %></strong>
  </div>
<% end %>

<div class="row justify-content-center">
  <div class="col-xs-12 col-md-4">
    <div class="form-highlight">
      <h2 class="text-center">INGRESAR</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions text-center">
          <%= f.submit "Ingresar", :class => 'btn btn-secondary' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
