<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
    	table {
		    border-collapse: collapse;
		}

		table, td, th {
		    border: 1px solid black;
		}

		th, td {
		    padding: 5px;
		    text-align: left;
		}

		th {
		    background-color: #d9534f;
		    color: #ffffff;
		}
    </style>
  </head>
  <body>
    <h1>Order from <%= @email %></h1>
    <table class="table">
	  <thead>
	    <tr>
	      <th>Id</th>
	      <th>Code</th>
	      <th>Product</th>
	      <th>Quantity</th>
	    </tr>
	  </thead>
	  <tbody>
		<% @order.items.to_a.each do |id, quantity| %>
		  <% @products.each do |product| %>

		    <% if product["productid"] == id.to_i %>
		    <tr>
		      <td><%= id %></td>
		      <td><%= product["code"] %></td>
		      <td><%= product["description"] %></td>
		      <td><%= quantity %></td>
		    </tr>
		    <% end %>

		  <% end %>
		<% end %>
	  </tbody>
	</table>
  </body>
</html>