Orders
<% @order.items.to_a.each do |id, quantity| %>
  <% @products.each do |product| %>

    <% if product["productid"] == id.to_i %>
      <%= id %> - 
      <%= product["code"] %> - 
      <%= product["description"] %> - 
      <%= quantity %> - 
    <% end %>

  <% end %>
<% end %>