<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row mt-3">
    <div class="col-12 col-sm-4">
      <div class="field form-group">
        <%= f.label :title, "Título" %>
        <%= f.text_field :title, :class => "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :description, "Descripción" %>
        <%= f.text_area :description, :class => "form-control", :rows => "10" %>
      </div>

      <div class="field form-group">
        <%= f.label :image, "Imagen Destacada" %>
        <%= f.file_field :image, :class => "form-control" %>
      </div>
    </div>
    <div class="col-12 col-sm-8">
      <div class="field form-group">
        <%= f.label :content, "Contenido" %>

        <%= tinymce :languaje => "es" %>

        <%= f.text_area :content, :class => "tinymce", :rows => "12" %>
      </div>

    </div>
  </div>



  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>