<% provide(:page_title, 'Noticias') %>
<% provide(:posts_active, 'active') %>
<% provide(:page_description, 'Bienvenido a Ofimaster, multitud de productos y marcas a tu disposición.') %>

<% if notice %>
  <div class="alert alert-success fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= notice %></strong>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= alert %></strong>
  </div>
<% end %>

<button type="button" class="btn btn-primary w-100 mb-2 hidden-md-up" data-toggle="offcanvas">Categorías</button>
<div class="row justify-content-md-center row-offcanvas row-offcanvas-left">
  <div class="col-8 col-sm-6 col-md-3 col-lg-2 sidebar-offcanvas">
    <%= render "layouts/nav-sidebar" %>
  </div>
  <div class="col col-md-9">
    <h1>Noticias</h1>
    <div class="card-columns">
    <% @posts.each do |post| %>
        <div class="card">
          <% if post.image.url %>
            <%= link_to post do %>
              <%= image_tag post.image.thumb.url, :class => "card-img-top img-fluid w-100" %>
            <% end %>
          <% end %>
          <div class="card-block">
            <h4 class="card-title text-uppercase">
              <%= link_to post.title, post %>
              <small class="float-right"><%= post.created_at.strftime('%d %B %Y') %></small> 
            </h4>
            <p class="card-text"><%= post.description %></p>
          </div>
          <% if user_signed_in? %>
            <div class="card-footer">
              <%= link_to '', edit_post_path(post), :class => "fa fa-pencil btn btn-warning" %>
              <%= link_to '', post, method: :delete, data: { confirm: 'Estás seguro que quieres eliminar esta noticia?' }, :class => "fa fa-trash-o btn btn-danger" %>
            </div>
          <% end %>
        </div>
    <% end %>
    </div>
  </div>
</div>