<% provide(:page_title, @post.title) %>
<% provide(:page_description, @post.description) %>

<% if notice %>
  <div class="alert alert-success fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= notice %></strong>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= alert %></strong>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-9">
      <%= image_tag @post.image, :class => "img-fluid mb-3 d-block mx-auto" %>
      <h1 class="text-uppercase">
        <strong><%= @post.title %></strong>
      </h1>
      <div class="lead">
        <%= @post.content.html_safe %>
      </div>
      <div class="mb-3">
        <%= link_to 'Atrás', posts_path %>
        <% if user_signed_in? %>
          <%= link_to '', edit_post_path(@post), :class => "fa fa-pencil btn btn-warning btn-sm" %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-sm-3">
      <p class="h3"><strong>ÚLTIMAS NOTICIAS</strong></p>
      <% @posts.last(3).each do |post| %>
        <p class="h4"><%= link_to post.title, post, :class => "text-uppercase" %></p>
      <% end %>
    </div>
  </div>
</div>

