$black: #292927;
$brand-inverse: $black;
$brand-primary: #e2482a !default;
$enable-flex: true !default;
$enable-rounded: false !default;
$card-border-width: 2px;
$list-group-border-width: 0;


html,
body {
  font-size: 14px;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

.logo{
    height: 35px;
    width: auto;
}

.alto-minimo{
    min-height: calc(100vh - 200px);
}

@media (min-width: 768px) {
    .nav-sidebar .collapse {
        display: block;
    }
}

.table{
	font-size: 14px;
}

.table-quantity{
  width: 60px;
}

.form-highlight{
	background-color: #e2482a;
    color: #ffffff;
    padding: 10px 15px;
    margin-top: 30px;
    border-radius: 2px;
}

.product-img{
  max-width: 200px;
  max-height: 200px;
  .product-edit{
    position: absolute;

  }
}

.producto-relacionado{
	border: 1px solid $brand-primary;
    height: 100%;
    .img-fluid{
        max-height: 65px;
    }
}

.border-bottom{
    border-bottom: 1px solid #cccccc;
}
.border-bottom:last-child{
    border-bottom: none;
}
.list-group-item{
    padding: 0.6rem 1.2rem;
}

.orders-search{
    max-width: 300px;
}

.bg-grey{
    background: #f7f7f9;
}

.box-shadow{
    box-shadow: 0 0 5px #dddddd;
}

.carousel{
  max-width: 935px;
  margin: auto;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.card-columns {
  column-count: 1;
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
}

.verificar{
  width: 257px;
  .form-control{
    width: 150px;
  }
}

.line{
  border-color: #eeeeee;
}

@keyframes verificar {
    from {color: #222222;}
    to {color: $brand-primary;}
}

.verificar-error{
  color: #222222;
  animation-name: verificar;
  animation-duration: 1s;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -100%; /* 12 columns */
  }

  .row-offcanvas-right.active
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%; /* 12 columns */
  }

  .row-offcanvas-left.active
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
    z-index: 9999;
    padding: 0 0 0 15px;
    border-right: 2px solid #aaaaaa;
  }
}