<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-12 col-sm-3">
      <div class="product-img">
        <%= image_tag @product.photo.medium.url, :class => "img-fluid d-block m-auto" %>
      </div>
      <div class="field form-group">
        <%= f.label :photo, 'Imagen' %>
        <%= f.file_field :photo, :class => "form-control" %>
      </div>
    </div>
    <div class="col-12 col-sm">
      <p class="lead">Código: <strong class="text-primary"><%= product.code %></strong></p>
      <p class="lead">ProductID: <strong class="text-primary"><%= product.productid %></strong></p>
      <p class="lead">Código de Barras: <strong class="text-primary"><%= product.barcode %></strong></p>
      <% if product.notes? %>
      <p class="lead">Marca: <strong class="text-primary"><%= product.notes %></strong></p>
      <% end %>
      <p class="lead">Categoría: <strong class="text-primary"><%= product.familyname %></strong></p>
      <p class="lead">
        Precio: <strong class="text-primary">
        <%= number_to_currency(product.unitprice.to_i, unit: "$", separator: ",", delimiter: ".", precision: 0, locale: :en) %>
        </strong>
      </p>
      <p class="lead">Descontinuado: <strong class="text-primary"><%= product.discontinued %></strong></p>
    </div>
    </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
  
    <%#= f.label :productid %>
    <%#= product.productid %>
  
    <%#= f.label :code %>
    <%#= f.text_field :code %>
  
    <%#= f.label :description %>
    <%#= f.text_field :description %>
  
    <%#= f.label :familyid %>
    <%#= f.text_field :familyid %>
  
    <%#= f.label :familyname %>
    <%#= f.text_field :familyname %>
  
    <%#= f.label :unitprice %>
    <%#= f.number_field :unitprice %>
  
    <%#= f.label :unitpricewithtaxes %>
    <%#= f.number_field :unitpricewithtaxes %>
  
    <%#= f.label :barcode %>
    <%#= f.text_field :barcode %>
  
    <%#= f.label :notes %>
    <%#= f.text_field :notes %>
  
    <%#= f.label :discontinued %>
    <%#= f.check_box :discontinued %>