<% provide(:page_title, 'Editar Producto') %>
<% provide(:edit_product_active, 'active') %>

<div class="container">
<h1>Editar <%= @product.description.split(' - ', 2).last %></h1>

<%= render 'form', product: @product %>

<%= link_to 'Ver', @product %> |
<%= link_to 'Atrás', products_path %>
</div>
