<% provide(:page_title, 'Productos') %>
<% provide(:root_active, 'active') %>
<% provide(:page_description, 'Bienvenido a Ofimaster, multitud de productos y marcas a tu disposición.') %>

<% if notice %>
  <div class="alert alert-success fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= notice %></strong>
  </div>
<% end %>

<button type="button" class="btn btn-primary w-100 mb-2 hidden-md-up" data-toggle="offcanvas">Categorías</button>
<div class="row justify-content-md-center row-offcanvas row-offcanvas-left">
  <div class="col-8 col-sm-6 col-md-3 col-lg-2 sidebar-offcanvas">
    <%= render 'layouts/nav-sidebar' %>
  </div>
  <div class="col col-md-9">
    <% if @products.empty? %>
      <p class="lead">Sin productos en esta categoría</p>
    <% else %>
      <%= form_tag("/cart/add", method: :post) do %>
        <table class="table table-hover table-sm table-responsive">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Código</th>
              <th>Descripción</th>
              <th>Categoría</th>
              <th>Marca</th>
              <% if user_signed_in? %>
                <th>Precio</th>
              <% end %>
              <th class="table-quantity">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <% count = 1 %>
            <% @products.each do |product| %>
                <tr>
                  <td>
                    <%= image_tag product.photo.thumb.url %>
                  </td>
                  <td>
                    <%= link_to product do %>
                      <%= product.code %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to product do %>
                      <%= product.description.split(' - ', 2).last %>
                    <% end %>
                  </td>
                  <td>
                    <% if product.familyname %>
                      <%= link_to product.familyname, "/products?search=#{product.familyname.gsub(" ", "+")}" %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to product.notes, "/products?search=#{product.notes}" %>
                  </td>
                  <% if user_signed_in? %>
                    <td class="text-right">
                      <%= number_to_currency(product.unitprice.to_i, unit: "$", separator: ",", delimiter: ".", precision: 0, locale: :en) %>
                    </td>
                  <% end %>
                  <td>
                    <%= hidden_field_tag "id#{count}", product.productid %>
                    <%= text_field_tag "quantity#{count}", nil, :class => 'form-control' %>
                  </td>
                </tr>
              <% count+=1 %>
            <% end %>
          </tbody>
        </table>
        <div class="row justify-content-between">
          <div class="col">
            <%= paginate @products %>
          </div>
          <div class="col-4 col-sm-3 col-lg-2">
            <%= button_tag '', :class => 'btn btn-primary' do %>
              Agregar al 
              <span class="fa fa-shopping-cart"></span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
