<% provide(:page_title, @product.code) %>
<% provide(:page_description, @product.description) %>
<p id="notice"><%= notice %></p>
<button type="button" class="btn btn-primary w-100 mb-2 hidden-md-up" data-toggle="offcanvas">Categorías</button>
<div class="row justify-content-md-center row-offcanvas row-offcanvas-left">
  <div class="col-8 col-sm-6 col-md-3 col-lg-2 sidebar-offcanvas">
    <%= render 'layouts/nav-sidebar' %>
  </div>
  <div class="col col-md-9">
    <div class="row">
      <div class="col-12 col-sm-3">
        <div class="product-img">
          <%= link_to '', edit_product_path(@product), :class => 'fa fa-pencil btn btn-warning btn-sm product-edit' %>
          <%= image_tag @product.photo.medium.url, :class => "img-fluid d-block m-auto" %>
        </div>
      </div>
      <div class="col-12 col-sm-9">
        <p class="lead">
          <strong><%= @product.description.split(' - ', 2).last %></strong>
        </p>
        <p class="lead">Código: <strong class="text-primary"><%= @product.code %></strong></p>
        <% if @product.notes? %>
        <p class="lead">Marca: <strong class="text-primary"><%= @product.notes %></strong></p>
        <% end %>
        <p class="lead">Categoría: <strong class="text-primary"><%= @product.familyname %></strong></p>
        <p class="lead">
          Precio: <strong class="text-primary">
          <%= number_to_currency(@product.unitprice.to_i, unit: "$", separator: ",", delimiter: ".", precision: 0, locale: :en) %>
          </strong>
        </p>
      </div>
    </div>
    

    <p class="lead"><strong>Productos en la misma categoría</strong></p>
    <div class="row justify-content-center">
      <% @relacionados.each do |producto| %>
      <div class="col-12 col-sm-6 col-md-4 my-1">
        <div class="d-flex flex-row align-items-center producto-relacionado">
          <%= image_tag producto.photo.medium.url, :class => "img-fluid" %>
          <%= link_to producto.description.split(' - ', 2).last, producto, :class => "pl-2" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>