<footer class="jumbotron bg-inverse text-white mt-3 mb-0 py-3">
	<div class="row">
		<div class="col-12 col-sm-4 mb-3">
			<%= image_tag "/images/logo-ofimaster-blanco.png", :class => "d-block img-fluid" %>

			<small>Comercializamos y distribuimos productos y servicios de aseo, artículos de oficina y maquinaria, entre otros, para el mercado público y privado, institucional e industrial, de forma eficiente y especializada. Contamos con Certificación ISO 9001:2008, lo que garantiza seriedad y eficacia en la venta, pero también una post venta responsable.</small>
		</div>
		<div class="col-12 col-sm-4 mb-3">
			<small>CASA MATRIZ</small>
			<p class="lead mb-0"><strong>PUERTO VARAS</strong></p>
			<small>Caletera Poniente KM 1006 Ruta 5 Sur. <span>Tel: +56 (65) 2 317 720</span></small>
		
			<hr class="line">
		
			<small>SUCURSAL</small>
			<p class="lead mb-0"><strong>OSORNO</strong></p>
			<small>Manuel Antonio Matta #549, Oficina 906. <span>Tel: +56 (65) 2 314 010</span></small>
		</div>
		<div class="col-12 col-sm-4 mb-3">
			<small><strong>Aviso Legal</strong></small><br>
			<small>Queda prohibida la reproducción total o parcial de cualquier material de caracter gráfico expuesto en este sitio web, por cualquier medio o procedimiento, sin para ello contar con la autorización previa, expresa y por escrito de Ofimaster Limitada. Toda forma de utilización de nuestro material no autorizada será perseguida con lo establecido en la ley de protecciòn a la propiedad intelectual. © Todos Derechos Reservados Ofimaster Limitada.</small>
		</div>
	</div>
</footer>