<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse mb-2 align-items-center">
  <a class="navbar-brand hidden-md-up" href="#">
    <%= image_tag "/images/logo-ofimaster-blanco.png", :class => "logo" %>
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-around align-items-center" id="navbarTop">
    <a class="navbar-brand hidden-sm-down" href="/">
      <%= image_tag "/images/logo-ofimaster-blanco.png", :class => "logo" %>
    </a>
    <%= form_tag products_path, :class => '', :method => 'get' do %>
    <div class="input-group">
      <%= search_field_tag :search, params[:search], :class => 'form-control', :placeholder => 'Buscar...', :required => true %>
      <span class="input-group-btn">
        <button class="btn btn-outline-secondary" type="submit">
        <span class="fa fa-search"></span>
        </button>
      </span>
    </div>
    <% end %>
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item <%= yield(:root_active) %>">
        <%= link_to 'Inicio', root_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item <%= yield(:posts_active) %>">
        <%= link_to 'Noticias', posts_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item <%= yield(:cart_active) %>">
        <%= link_to 'Carro', cart_path, :class => 'nav-link' %>
      </li>
      <% unless user_signed_in? %>
        <li class="nav-item <%= yield(:new_session_active) %>">
          <%= link_to 'Ingresar', new_user_session_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item <%= yield(:new_user_active) %>">
          <%= link_to 'Registrar', new_user_registration_path, :class => 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item <%= yield(:orders_active) %>">
          <%= link_to 'Pedidos', orders_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item <%= yield(:cuenta_active) %>">
          <%= link_to 'Cuenta', cuenta_path, :class => 'nav-link', data: { turbolinks: false } %>
        </li>
        <li class="nav-item <%= yield(:dashboard_active) %>">
          <%= link_to 'Dashboard', dashboard_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Salir', destroy_user_session_path, method: :delete, :class => 'nav-link nav-link-logout' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>