<p class="lead card-outline-primary text-primary text-center py-3 mb-1"><strong>Categorías</strong></p>
<div id="MainMenu">
  <div class="list-group panel">
    <a href="#ArticulosLimpieza" class="border-bottom list-group-item bg-primary text-white
    " data-toggle="collapse" data-parent="#MainMenu">Artículos de Limpieza</a>
    <div class="collapse" id="ArticulosLimpieza">
      <%= link_to "Atomizadores", "/products?search=Atomizadores", :class => "border-bottom list-group-item" %>
       <%= link_to "Basureros", "/products?search=Basurero", :class => "border-bottom list-group-item" %>
       <%= link_to "Bolsa de Basura", "/products?search=Bolsa+de+Basura", :class => "border-bottom list-group-item" %>
       <%= link_to "Baldes", "/products?search=Baldes", :class => "border-bottom list-group-item" %>
       <%= link_to "Carros de Aseo", "/products?search=Carros+de+Aseo", :class => "border-bottom list-group-item" %>
       <%= link_to "Cubiertas de WC", "/products?search=Cubiertas+para+WC", :class => "border-bottom list-group-item" %>
       <%= link_to "Equipo Desinfección WC", "/products?search=Equipo+Desinfeccion+WC", :class => "border-bottom list-group-item" %>
       <%= link_to "Escobillones", "/products?search=Escobillon", :class => "border-bottom list-group-item" %>
       <%= link_to "Esponjas", "/products?search=Esponja", :class => "border-bottom list-group-item" %>
       <%= link_to "Fibra Abrasiva", "/products?search=Fibra+Abrasiva", :class => "border-bottom list-group-item" %>
       <%= link_to "Guantes de Limpieza", "/products?search=Guantes+de+Limpieza", :class => "border-bottom list-group-item" %>
       <%= link_to "Limpia Vidrios", "/products?search=Limpiavidrio", :class => "border-bottom list-group-item" %>
       <%= link_to "Mopas", "/products?search=Mopas", :class => "border-bottom list-group-item" %>
       <%= link_to "Pads Profesionales", "/products?search=Pads+Profesionales", :class => "border-bottom list-group-item" %>
       <%= link_to "Palas", "/products?search=Palas", :class => "border-bottom list-group-item" %>
       <%= link_to "Pastillas para WC", "/products?search=Pastillas+para+WC", :class => "border-bottom list-group-item" %>
       <%= link_to "Paños de Limpieza", "/products?search=Paños+de+Limpieza", :class => "border-bottom list-group-item" %>
       <%= link_to "Paños y Traperos", "/products?search=Paños+y+Traperos", :class => "border-bottom list-group-item" %>
       <%= link_to "Plumeros", "/products?search=Plumeros", :class => "border-bottom list-group-item" %>
       <%= link_to "Squeegues", "/products?search=Squeegues", :class => "border-bottom list-group-item" %>
       <%= link_to "Virutillas", "/products?search=Virutillas", :class => "border-bottom list-group-item" %>
    </div>
    <a href="#ArticulosOficina" class="border-bottom list-group-item bg-primary text-white" data-toggle="collapse" data-parent="#MainMenu">Artículos de Oficinas</a>
    <div class="collapse" id="ArticulosOficina">
      <%= link_to "Agendas", "/products?search=Agenda", :class => "border-bottom list-group-item" %>
       <%= link_to "Apuntes Post It", "/products?search=Apuntes+Post+It", :class => "border-bottom list-group-item" %>
       <%= link_to "Archivadores", "/products?search=Archivador", :class => "border-bottom list-group-item" %>
       <%= link_to "Calculadora", "/products?search=Calculadora", :class => "border-bottom list-group-item" %>
       <%= link_to "Carpeta Vinilica", "/products?search=Carpeta+Vinilica", :class => "border-bottom list-group-item" %>
       <%= link_to "Cintas Adhesivas", "/products?search=Cintas+Adhesivas", :class => "border-bottom list-group-item" %>
       <%= link_to "Clip y Sujetadores", "/products?search=Clips+y+Sujetadores", :class => "border-bottom list-group-item" %>
       <%= link_to "Corchetes y Corcheteras", "/products?search=Corchete", :class => "border-bottom list-group-item" %>
       <%= link_to "Correctores", "/products?search=Corrector", :class => "border-bottom list-group-item" %>
       <%= link_to "Cortantes", "/products?search=Cortantes", :class => "border-bottom list-group-item" %>
       <%= link_to "Destacadores", "/products?search=Destacador", :class => "border-bottom list-group-item" %>
       <%= link_to "Elásticos y Dedos de Gomas", "/products?search=Elastico+y+Dedo+de+Goma", :class => "border-bottom list-group-item" %>
       <%= link_to "Espirales", "/products?search=Espirales", :class => "border-bottom list-group-item" %>
       <%= link_to "Etiquetas Autoadhesivas", "/products?search=Etiquetas+Autoadhesivas", :class => "border-bottom list-group-item" %>
       <%= link_to "Formularios", "/products?search=Formulario", :class => "border-bottom list-group-item" %>
       <%= link_to "Fundas", "/products?search=Fundas", :class => "border-bottom list-group-item" %>
       <%= link_to "Lápices", "/products?search=Lapices", :class => "border-bottom list-group-item" %>
       <%= link_to "Lomo Archivador", "/products?search=Lomo+Archivador", :class => "border-bottom list-group-item" %>
       <%= link_to "Marcador Permanente", "/products?search=Marcador+Permanente", :class => "border-bottom list-group-item" %>
       <%= link_to "Micas", "/products?search=Micas", :class => "border-bottom list-group-item" %>
       <%= link_to "Papeleros", "/products?search=Papeleros", :class => "border-bottom list-group-item" %>
       <%= link_to "Papeles", "/products?search=Papeles", :class => "border-bottom list-group-item" %>
       <%= link_to "Perforantes", "/products?search=Perforantes", :class => "border-bottom list-group-item" %>
       <%= link_to "Pilas y Baterias", "/products?search=Pilas+y+Baterias", :class => "border-bottom list-group-item" %>
       <%= link_to "Pizarras", "/products?search=Pizarras", :class => "border-bottom list-group-item" %>
       <%= link_to "Plumón Pizarra", "/products?search=Plumon+Pizarra", :class => "border-bottom list-group-item" %>
       <%= link_to "Pouches", "/products?search=Pouches", :class => "border-bottom list-group-item" %>
       <%= link_to "Rollos Térmicos", "/products?search=Rollos+Termicos", :class => "border-bottom list-group-item" %>
       <%= link_to "Separadores", "/products?search=Separadores", :class => "border-bottom list-group-item" %>
       <%= link_to "Sobres", "/products?search=Sobres", :class => "border-bottom list-group-item" %>
       <%= link_to "Timbres y Tampones", "/products?search=Timbres+y+Tampones", :class => "border-bottom list-group-item" %>
       <%= link_to "Útiles de Escritorios", "/products?search=Útiles+de+Escritorios", :class => "border-bottom list-group-item" %>
    </div>
    <a href="#ArticulosEscolares" class="border-bottom list-group-item bg-primary text-white
    " data-toggle="collapse" data-parent="#MainMenu">Articulos Escolares</a>
    <div class="collapse" id="ArticulosEscolares">
       <%= link_to "Block", "/products?search=Block", :class => "border-bottom list-group-item" %>
       <%= link_to "Cartón Corrugado", "/products?search=Carton+Corrugado", :class => "border-bottom list-group-item" %>
       <%= link_to "Cartón Piedra", "/products?search=Carton+Corrugado", :class => "border-bottom list-group-item" %>
       <%= link_to "Cartulina", "/products?search=Cartulina", :class => "border-bottom list-group-item" %>
       <%= link_to "Cuaderno", "/products?search=Cuaderno", :class => "border-bottom list-group-item" %>
       <%= link_to "Estuches", "/products?search=Estuches", :class => "border-bottom list-group-item" %>
       <%= link_to "Glitter", "/products?search=Glitter", :class => "border-bottom list-group-item" %>
       <%= link_to "Goma Eva", "/products?search=goma+eva", :class => "border-bottom list-group-item" %>
       <%= link_to "Goma de Borrar", "/products?search=Gomas+de+Borrar", :class => "border-bottom list-group-item" %>
       <%= link_to "Lápices Grafito", "/products?search=Lapices+Grafito", :class => "border-bottom list-group-item" %>
       <%= link_to "Lápices de Cera", "/products?search=Lapices+Cera", :class => "border-bottom list-group-item" %>
       <%= link_to "Lápices de Colores", "/products?search=Lapices+Colores", :class => "border-bottom list-group-item" %>
       <%= link_to "Papel Lustre", "/products?search=papel+Lustre", :class => "border-bottom list-group-item" %>
       <%= link_to "Papel de Juego", "/products?search=papel+de+Juego", :class => "border-bottom list-group-item" %>
       <%= link_to "Pegamentos", "/products?search=Pegamentos", :class => "border-bottom list-group-item" %>
       <%= link_to "Pinceles", "/products?search=Pinceles", :class => "border-bottom list-group-item" %>
       <%= link_to "Plasticinas y Moldeables", "/products?search=Plasticinas+y+Moldeables", :class => "border-bottom list-group-item" %>
       <%= link_to "Reglas", "/products?search=Reglas", :class => "border-bottom list-group-item" %>
       <%= link_to "Silicona", "/products?search=Silicona", :class => "border-bottom list-group-item" %>
       <%= link_to "Tempera y Acuarela", "/products?search=tempera+y+Acurela", :class => "border-bottom list-group-item" %>
    </div>
    <a href="#Cafeteria" class="border-bottom list-group-item bg-primary text-white
    " data-toggle="collapse" data-parent="#MainMenu">Cafetería</a>
    <div class="collapse" id="Cafeteria">
       <%= link_to "Aceite Freidora", "/products?search=Aceite+Freidora", :class => "border-bottom list-group-item" %>
       <%= link_to "Agua Mineral", "/products?search=Agua+Mineral", :class => "border-bottom list-group-item" %>
       <%= link_to "Azúcar", "/products?search=Azucar", :class => "border-bottom list-group-item" %>
       <%= link_to "Bebida", "/products?search=Bebida", :class => "border-bottom list-group-item" %>
       <%= link_to "Café", "/products?search=cafe", :class => "border-bottom list-group-item" %>
       <%= link_to "Endulzante", "/products?search=Endulzante", :class => "border-bottom list-group-item" %>
       <%= link_to "Film para Envolver", "/products?search=Film+para+Envolver", :class => "border-bottom list-group-item" %>
       <%= link_to "Galletas", "/products?search=Galletas", :class => "border-bottom list-group-item" %>
       <%= link_to "Jugos", "/products?search=Jugos", :class => "border-bottom list-group-item" %>
       <%= link_to "Papel Aluminio", "/products?search=papel+Aluminio", :class => "border-bottom list-group-item" %>
       <%= link_to "Té", "/products?search=te", :class => "border-bottom list-group-item" %>
       <%= link_to "Vasos Desechables", "/products?search=Vasos+Desechables", :class => "border-bottom list-group-item" %>
    </div>
    <a href="#Computacion" class="border-bottom list-group-item bg-primary text-white
    " data-toggle="collapse" data-parent="#MainMenu">Computación</a>
    <div class="collapse" id="Computacion">
       <%= link_to "Accesorios", "/products?search=Accesorios", :class => "border-bottom list-group-item" %>
       <%= link_to "Audífonos", "/products?search=Audifonos", :class => "border-bottom list-group-item" %>
       <%= link_to "CD y DVD", "/products?search=CD+y+DVD", :class => "border-bottom list-group-item" %>
       <%= link_to "Cartridges", "/products?search=Cartridges", :class => "border-bottom list-group-item" %>
       <%= link_to "Cintas", "/products?search=Cintas", :class => "border-bottom list-group-item" %>
       <%= link_to "Drums", "/products?search=Drums", :class => "border-bottom list-group-item" %>
       <%= link_to "Monitores", "/products?search=Monitores", :class => "border-bottom list-group-item" %>
       <%= link_to "Mouses y Mousepads", "/products?search=Mouses+y+Mousepads", :class => "border-bottom list-group-item" %>
       <%= link_to "Parlantes", "/products?search=Parlantes", :class => "border-bottom list-group-item" %>
       <%= link_to "Pendrives", "/products?search=Pendrives", :class => "border-bottom list-group-item" %>
       <%= link_to "Teclados", "/products?search=Teclados", :class => "border-bottom list-group-item" %>
       <%= link_to "Telones y Proyectores", "/products?search=Telones+y+Proyectores", :class => "border-bottom list-group-item" %>
       <%= link_to "Tóner", "/products?search=Toner", :class => "border-bottom list-group-item" %>
    </div>
    <a href="#PapelesTissue" class="border-bottom list-group-item bg-primary text-white
    " data-toggle="collapse" data-parent="#MainMenu">Papeles Tissue</a>
    <div class="collapse" id="PapelesTissue">
      <%= link_to "Combos Elite", "/products?search=Combos+Elite", :class => "border-bottom list-group-item" %>
      <%= link_to "papel Higiénico", "/products?search=Papel+Higienico", :class => "border-bottom list-group-item" %>
      <%= link_to "Pañuelos", "/products?search=Pañuelos", :class => "border-bottom list-group-item" %>
      <%= link_to "Sabanilla Medica", "/products?search=Sabanilla+Medica", :class => "border-bottom list-group-item" %>
      <%= link_to "Servilletas", "/products?search=Servilletas", :class => "border-bottom list-group-item" %>
      <%= link_to "Toalla Interfoliada", "/products?search=Toalla+Interfoliada", :class => "border-bottom list-group-item" %>
    </div>
    <a href="#QuimicoAseo" class="border-bottom list-group-item bg-primary text-white
    " data-toggle="collapse" data-parent="#MainMenu">Químicos de Aseo</a>
    <div class="collapse" id="QuimicoAseo">
       <%= link_to "Higiene Alimentaria", "/products?search=Higiene+Alimentaria", :class => "border-bottom list-group-item" %>
       <%= link_to "Higiene Ambiental", "/products?search=Higiene+Ambiental", :class => "border-bottom list-group-item" %>
       <%= link_to "Higiene Personal", "/products?search=Higiene+Personal", :class => "border-bottom list-group-item" %>
       <%= link_to "Higiene vehicular", "/products?search=Higiene+vehicular", :class => "border-bottom list-group-item" %>
       <%= link_to "Higiene de Pisos", "/products?search=Higiene+de+Pisos", :class => "border-bottom list-group-item" %>
       <%= link_to "Higiene de Ropa", "/products?search=Higiene+de+Ropa", :class => "border-bottom list-group-item" %>
       <%= link_to "Higiene de Superficies", "/products?search=Higiene+de+Superficies", :class => "border-bottom list-group-item" %>
       <%= link_to "Sistema Ecomix EasyMix", "/products?search=Sistema+Ecomix+EasyMix", :class => "border-bottom list-group-item" %>
    </div>
    <a href="#Seguridad" class="border-bottom list-group-item bg-primary text-white
    " data-toggle="collapse" data-parent="#MainMenu">Seguridad</a>
    <div class="collapse" id="Seguridad">
       <%= link_to "Caja Fuerte y Candados", "/products?search=Caja+Fuerte+y+Candados", :class => "border-bottom list-group-item" %>
       <%= link_to "Carros Multiuso", "/products?search=Carros+Multiuso", :class => "border-bottom list-group-item" %>
       <%= link_to "Conos Viales", "/products?search=Conos+viales", :class => "border-bottom list-group-item" %>
       <%= link_to "Cubrecalzado", "/products?search=Cubrecalzado", :class => "border-bottom list-group-item" %>
       <%= link_to "Espejos viales", "/products?search=Espejos+viales", :class => "border-bottom list-group-item" %>
       <%= link_to "Gorro Desechable", "/products?search=Gorro+Desechable", :class => "border-bottom list-group-item" %>
       <%= link_to "Guante de Nitrilo", "/products?search=Guante+de+Nitrilo", :class => "border-bottom list-group-item" %>
       <%= link_to "Guantes Quirúrgicos", "/products?search=Guantes+Quirúrgicos", :class => "border-bottom list-group-item" %>
       <%= link_to "Mangos telescópicos", "/products?search=Mangos+Telescopicos", :class => "border-bottom list-group-item" %>
       <%= link_to "Mascarillas Desechables", "/products?search=Mascarillas+Desechables", :class => "border-bottom list-group-item" %>
       <%= link_to "Mudador de Bebé", "/products?search=Mudador+de+Bebe", :class => "border-bottom list-group-item" %>
       <%= link_to "Pañal de Adulto", "/products?search=Pañal+de+Adulto", :class => "border-bottom list-group-item" %>
       <%= link_to "Pecheras Desechables", "/products?search=Pechera+Desechable", :class => "border-bottom list-group-item" %>
       <%= link_to "Pisos", "/products?search=Pisos", :class => "border-bottom list-group-item" %>
       <%= link_to "Protector Solar", "/products?search=Protector+Solar", :class => "border-bottom list-group-item" %>
       <%= link_to "Señaleticas Viales", "/products?search=Señaleticas+viales", :class => "border-bottom list-group-item" %>
       <%= link_to "Sillas para Bebé", "/products?search=Silla+para+Bebé", :class => "border-bottom list-group-item" %>
    </div>
  </div>
</div>