<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title><%= yield(:page_title) %> | Ofimaster</title>
    <meta name="description" content="<%= yield(:page_description) %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>    
    <div class="container-fluid alto-minimo">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
